
h1{
    color: rgb(245, 210, 11);
    background-color: rgb(51, 153, 97);
    font-size: 50px;
    border-radius: 20px;
        
}

.brevePresentacion{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;

}


#nosotrosColor{
    color: green;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2rem;
}
